// Custom variables
// ------------------------------

// Colors
$background: #f4f2ec;
$background-alt: #ebe5da;

$black: #000;
$white: #fff;

// Fonts
$font-default: Helvetica, Arial, sans-serif;
$fonts: (
    ("icomoon", "icomoon", normal, normal),
);

$font-size-h1: rem(70px);
$font-size-h2: rem(45px);
$font-size-h3: rem(35px);
$font-size-h4: rem(25px);
$font-size-h5: rem(22px);
$font-size-h6: rem(18px);
